.background-green{
    background-color:lightseagreen;
}

.underline{
     text-decoration-line: underline;
}
.background-orange{
    background-color: coral;
}
.background-peach{
    background-color: bisque;
}